$theme-color-1: #F8F1E9;
$theme-color-2: #E0D2C5;
$theme-color-3: #93939B;
$theme-color-4: #545F73;
$theme-color-5: #484848;

$primary: $theme-color-4;
$secondary: $theme-color-3;

$white: #fff;
$light-grey: #ccc;
$bg-color: $white;
$bg-color-inner: $white;
$font-color: #000;

$headline-spacing: 0.15rem;
$text-line-height: 1.7rem;

@import 'fonts';
@import 'bootstrap-icons';

body {
    font-family: 'Raleway', sans-serif;
    background-color: $bg-color;
    color: $theme-color-5;
}

h1, h2, h3, h4, h5, h6, .footer-headline {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: $headline-spacing;
}

p {
    line-height: $text-line-height;
}

img.product-image, img.cms-image, img.gallery-slider-image {
    border-radius: 1rem;
}

.card {
    border: none;

    &.card-tabs {
        border:none;
    }

    &.product-box {
        border:none;
    }
}

.btn, .custom-select {
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
    border: none;
}

.btn {
    letter-spacing: 0.0rem;
    font-size: 0.9rem;
}

.form-control {
    border-radius: 0;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background: transparent;
}

.main-navigation-link-text {
    text-transform: uppercase;
    letter-spacing: $headline-spacing;

}

.cms-listing-col {

    .card {
        margin: 1rem;
        padding: 0.75rem;
        border: none;
    }
}

.pagination {

    .page-item {

        .page-link {
            border-radius: 0 !important;
            border: none;
            background-color: $white;
            color: $light-grey;
        }

        &.active {
            .page-link {
                text-decoration: underline;
            }
        }

        &.disabled {
            .page-link {
                background-color: inherit;
            }
        }
    }
}

.btn-light, .btn-buy {
    border: none;
    font-size: 1.3rem;
    box-shadow: none;
    text-transform: none;
    background-color: $white;
    color: $font-color;
    border-radius: 0;
    //background: transparent;
    //position: relative;
    //width: 10rem;
    //left: -19.33333333rem;
    //top: -3rem;
    //color: $white;
    //border: none;
    //text-transform: uppercase;
}

.btn-buy {
    content: '&nbsp;';
}

.btn i {
    font-size: 1.5rem;
}


.header-search-input {
    border: none;
    border-bottom: 1px solid $light-grey;
}

.card {
    border: 1px solid $light-grey;
    background-color: $bg-color;
    padding: 1.5rem;
    border-radius: 0;
    margin: 0.5rem;
}

.product-variant-characteristics {
    height: auto;
    min-height: auto;
}

.cms-page {
    background-color: $bg-color;
    border: none;
    border-radius: 0;
    padding-bottom: 5rem;

    .product-action {
        //position: absolute;
        //width: 0;
        //height: 0;
        //bottom: 0;
        //left: 0;
        //-webkit-transform: rotate(360deg);
        //border-style: solid;
        //border-width: 5rem 0 0 18rem;
        //border-color: transparent transparent transparent $primary;


        &:active, &:hover, &:visited {
            //background: transparent !important;
            //border: none !important;
            //color: $light-grey !important;
        }
    }
}

.product-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: $headline-spacing;
}

.product-detail {

    .product-block-prices-table {
        border: none;

        td, th {
            border: none;
        }
    }
}

.cms-element-product-listing .cms-listing-col {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}


.filter-panel-item .filter-panel-item-toggle {
    border: none;
}
