{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_buy_form %}
    {% if page.product.active %}
        <div class="product-detail-form-container">
            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
