{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button %}
   <button class="btn btn-primary btn-light btn-block btn-buy"
       title="{{ "detail.addProduct"|trans|striptags }}"
       aria-label="{{ "detail.addProduct"|trans|striptags }}">
       <i class="bi-bag-plus"></i>
   </button>
{% endblock %}
