{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_buy %}
    <div class="col-lg-5 product-detail-buy">
        {% sw_include '@ButendeernTheme/storefront/page/product-detail/buy-widget.html.twig' %}
    </div>
{% endblock %}

{% block page_product_detail_tabs %}
    <div class="product-detail-tabs">
        {% sw_include '@ButendeernTheme/storefront/page/product-detail/tabs.html.twig' %}
    </div>
{% endblock %}
