{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_detail %}
    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
        class="btn btn-light"
        title="{{ "listing.boxProductDetails"|trans|striptags }}">
        <i class="bi-arrow-right-circle"></i>
    </a>
{% endblock %}
